/****** PLACE YOUR CUSTOM STYLES HERE ******/
.gradient-background-blue {
    background-image: linear-gradient(-225deg, #3A7BD5 0%, #00D2FF 100%);
}

.gradient-background-gray {
    background-image: linear-gradient(-225deg, #424C50 0%, #D2D6D7 100%);
}

.solid-background-gray {
    background-image: linear-gradient(0deg, #424C50 0%, #424C50 100%);
}

.solid-background-yellow {
    background-image: linear-gradient(0deg, #FFFDB7 0%, #FFFDB7 100%);
}

.center {
    text-align: center;
}

.about {
    margin-bottom: 50px;
}

body {
    font-size: 16px;
}

.fair {
    color: #DEDAD6;
}

.treehouse-green {
    color: #67B469;
}

.project-link h4 {
    font-weight: 400;
    color: #67B469;
    font-size: 23px;
}

.project-link {
    display: block;
}

.project-link:hover h4 {
    color: #5AD07D;
    transition: all 0.2s ease-in;
}
.project-link:hover i {
    color: #5AD07D;
    transition: all 0.2s ease-in;
}
.project-link:hover .feature {
    background-color: #485154;
    transition: all 0.2s ease-in;
}

.feature.boxed {
    max-height: 210px;
}

h1 {
    font-weight: 400;
}

.bg-light .btn {
    border-style: none;
}

.bg-light .btn:hover {
    color: #fff;
}

.bg-light .btn:visited:hover {
    color: #fff;
}

.social-list {
    margin-top: 25px;
}

.bg-light .social-list a {
    color: #292929;
}

h1.uppercase {
  letter-spacing: 6px;
}
