/****** PLACE YOUR CUSTOM STYLES HERE ******/
.gradient-background-blue {
    background-image: linear-gradient(-225deg, #3A7BD5 0%, #00D2FF 100%);
}

.gradient-background-gray {
    background-image: linear-gradient(-225deg, #424C50 0%, #D2D6D7 100%);
}

.solid-background-gray {
    background-image: linear-gradient(0deg, #424C50 0%, #424C50 100%);
}

.solid-background-yellow {
    background-image: linear-gradient(0deg, #FFFDB7 0%, #FFFDB7 100%);
}

.center {
    text-align: center;
}

.about {
    margin-bottom: 50px;
}

body {
    font-size: 16px;
}

.fair {
    color: #DEDAD6;
}

.treehouse-green {
    color: #67B469;
}

.project-link h4 {
    font-weight: 400;
    color: #67B469;
}

.project-link {
    display: block;
}

.project-link:hover h4 {
    color: #5AD07D;
}
.project-link:hover i {
    color: #5AD07D;
}
